<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reportes de Usuarios</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">Administrador</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="navegar('/administrador')">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navegar('/reportes')">Reportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navegar('/personas')">Usuarios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1 class="text-center mt-4">Pertenece a:</h1>
  <div class="table-container container mt-4">
    <table class="table table-striped reporte-table">
      <thead class="table-dark">
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Estado del Usuario</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reportesList3; let i = index">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellido }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.estadoUsuario }}</td>
          <td>
            <button class="btn btn-card" (click)="navegar('/reportes')">Volver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
